.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar {
  background-color: rgb(196, 196, 196);
}

.app-container {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}